.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

/* Navbar Styling */
.navbar {
    display: flex;
    background-color: #333;
    padding: 10px;
}

.nav-list {
    list-style: none;
    display: inline-flex; /*this made it horizntally flex the items?? not sure*/
    padding: 0;
    margin: 0;
}

.nav-list li {
    position: relative;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: white;
    border-radius: 5px; /* Slightly rounded by default */
    padding: 10px;
    display: block;
}

/* Hover effect */
.nav-list a:hover {
    background-color: #bdbbbb;
}

/* Dropdown Menu */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 150px;
    border: 1px solid #ccc;
}

.dropdown li {
    width: 100%;
}

.dropdown a {
    padding: 10px;
    color: black;
    display: block;
    background-color: white;
    text-align: left;
}

.dropdown a:hover {
    background-color: white;
}

/* Show dropdown when hovering over first navbar item */
.nav-item:hover .dropdown {
    display: block;
}

